<!DOCTYPE html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navStyle fixed-top">
            <a class="brand-navbar" href="/"><img src="/images/chatbox.png" alt="Responsive image" height="60px"></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
                <span><i class="fas fa-align-right iconStyle"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto navList">
                    <li class="nav-item active"><a href="/" class="nav-link"><i class="fas fa-home"></i>HOME<span
                                class="sr-only">(current)</span></a></li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link"><i class="far fa-user"></i>Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signUp" class="nav-link"><i class="fas fa-user-plus"></i>Đăng ký</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/images/slide_1.png" role="listbox">

                    <div class="carousel-caption">
                        <h1 class="animated fadeInDown">Welcome</h1>
                        <p class="animated fadeInUp" style="color:royalblue;">Trò chuyện trực tuyến,<br /> Kết bạn nhiều hơn , gần gũi nhiều hơn
                        .</p>
                        <button class="btn btn-defualt animated zoomIn">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>